<div id="adminPage">
  <h1>Admin Panel: index.handlebars</h1>

  {{#each users}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- <a href="/admin" value={{_id}} action="/admin" method="post"> -->
        <!-- <a href="/profile/?username={{username}}"> -->

        <a href="#" value={{_id}} action="/admin" method="post">
          {{username}} - {{_id}}
        </a>
<!--         <form class="" action="/logout" method="post">
      <button name="userDelete" class="cancel userDelete">Delete account</button>
    </form> -->

<!--         <form id="myform" method="post" action="/admin">
          <input type="hidden" name="userId" value="{{_id}}" /> 
          <a onclick="document.getElementById('myform').submit();">{{username}} - {{_id}}</a>
        </form> -->

      </div>
    </div>
  {{/each}}
</div>