<div id="profilePage">
	<h1>Welcome {{ user.username }}!</h1>
	<div class="col-1">
		{{#if maleAvatar}}
			<img src="../images/avatar/male.png" >
		{{/if}}
		{{#if femaleAvatar}}
			<img src="../images/avatar/female.png" >
		{{/if}}

		<p>Joined on: {{user.createdAt}}</p>

		<div>&nbsp;</div>
	</div>

	<div class="col-2 clearfix">
		<h4>House: {{ user.house }}</h4>
		<h4 class="gold">Gold: {{ user.money }}</h4>
		<!-- <h4>Gender: {{user.appearance.gender}}</h4> -->
		<h4>Wand: {{user.wand.name}}</h4>
		<h4>Pet: {{#if user.pet.name}}  {{user.pet.name}} the {{user.pet.animal}} {{/if}}</h4>
		<h4>Last Spell?... {{user.wand.lastSpell}}</h4>
		<!-- <p>{{user._id}}</p> -->

		<form class="" action="/logout" method="post">
			<button name="userDelete" class="cancel userDelete">Delete account</button>
		</form>
	</div>
	<!-- <div>&nbsp;</div> -->
</div>

	<!-- <div class="col-3"> -->
{{#if thunderbirdHouse}}
	<div class="thunderbirdBkgd col-3">
{{/if}}
{{#if hornedSerpentHouse}}
	<div class="hornedSerpentBkgd col-3">
{{/if}}
{{#if pukwudgieHouse}}
	<div class="pukwudgieBkgd col-3">
{{/if}}
{{#if wampusHouse}}
	<div class="wampusBkgd col-3">
{{/if}}
		<a href='/wandShop'>Go to the Wand Shop</a>
		<a href='/petStore'>Go to the Pet Store</a>
		<a href='/battle'>Battle Wizards! (and earn money)</a>
	</div>